---
{% if postgresql.enabled %}
apiVersion: v1
kind: Secret
metadata:
  name: {{ release_name }}-postgresql
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
    component: postgresql
{% if labels %}
{% for key, value in labels.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
type: Opaque
stringData:
  postgres-user: "{{ postgresql.auth.username }}"
  postgres-password: "{{ postgresql.auth.password }}"
  postgres-db: "{{ postgresql.auth.database }}"
{% endif %}
---
{% if pgadmin.enabled %}
apiVersion: v1
kind: Secret
metadata:
  name: {{ release_name }}-pgadmin
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
    component: pgadmin
{% if labels %}
{% for key, value in labels.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
type: Opaque
stringData:
  pgadmin-email: "{{ pgadmin.auth.email }}"
  pgadmin-password: "{{ pgadmin.auth.password }}"
{% endif %}
---
{% if image_pull_secrets.enabled %}
apiVersion: v1
kind: Secret
metadata:
  name: {{ image_pull_secrets.secret_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
{% if labels %}
{% for key, value in labels.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ '{"auths":{"' + image_pull_secrets.registry + '":{"username":"' + image_pull_secrets.username + '","password":"' + image_pull_secrets.password + '","email":"' + image_pull_secrets.email + '","auth":"' + (image_pull_secrets.username + ':' + image_pull_secrets.password) | b64encode + '"}}}' | b64encode }}
{% endif %}
